# Time Series Analysis of NAICS

## I. Preparation of datasets

### NAICS 2

In [142]:
import pandas as pd
files_list1 = ['RTRA_Employ_2NAICS_97_99.csv','RTRA_Employ_2NAICS_00_05.csv','RTRA_Employ_2NAICS_06_10.csv','RTRA_Employ_2NAICS_11_15.csv','RTRA_Employ_2NAICS_16_20.csv']
naics2_df = pd.concat(map(pd.read_csv,files_list1), ignore_index=True)
naics2_df['naics_code'] = naics2_df.NAICS.str.split('[').map(lambda x: x[1].strip(']'))
naics2_df.shape

(5472, 5)

In [147]:
naics2_55 = naics2_df[naics2_df.naics_code=='55']
naics2_56 = naics2_df[naics2_df.naics_code=='56']
brute_merge_55_56 = naics2_55.merge(naics2_56, left_on=['SYEAR','SMTH'],right_on=['SYEAR','SMTH'])
brute_merge_55_56['_EMPLOYMENT_']=brute_merge_55_56['_EMPLOYMENT__x']+brute_merge_55_56['_EMPLOYMENT__y']
brute_merge_55_56['naics_code'] = brute_merge_55_56['naics_code_x']+" & "+ brute_merge_55_56['naics_code_y']
brute_merge_55_56 = brute_merge_55_56[['SYEAR','SMTH','NAICS_x','_EMPLOYMENT_','naics_code']]
brute_merge_55_56.rename(columns={'NAICS_x':'NAICS'}, inplace=True)
naics2_df= pd.concat([naics2_df[~((naics2_df.naics_code=='55')|(naics2_df.naics_code=='56'))],brute_merge_55_56], ignore_index=True)

naics_code_list = ['22','23','41','53','81','55 & 56']
final_naics2_df= naics2_df[naics2_df.naics_code.isin(naics_code_list)]

naics2_df.shape
# naics2_df.dtypes

(1608, 5)

### NAICS 3

In [62]:
files_list2 = ['RTRA_Employ_3NAICS_97_99.csv','RTRA_Employ_3NAICS_00_05.csv','RTRA_Employ_3NAICS_06_10.csv','RTRA_Employ_3NAICS_11_15.csv','RTRA_Employ_3NAICS_16_20.csv']
naics3_df = pd.concat(map(pd.read_csv,files_list2), ignore_index=True)
naics3_df['naics_code'] = naics3_df.NAICS.map(lambda x: x.split('[')[-1].strip(']'))
naics3_df.naics_code.replace('Securities, commodity contracts, and other financial investment and related acti','523', inplace=True)
naics3_df.naics_code.replace('Other','81', inplace=True)
naics3_df.naics_code.unique()

array(['914', '721', '561', '481', '621', '713', '112', '312', '515',
       '444', '416', '419', '325', '448', '315', '334', '236', '492',
       '522', '111', '518', '611', '335', '443', '332', '411', '911',
       '114', '445', '311', '722', '413', '113', '526', '442', '337',
       '447', '452', '446', '237', '712', '622', '524', '919', '316',
       '533', '913', '333', '417', '551', '212', '339', '418', '453',
       '521', '512', '415', '441', '327', '454', '623', '211', '81',
       '519', '322', '711', '414', '812', '324', '412', '486', '326',
       '491', '331', '323', '814', '541', '912', '511', '482', '531',
       '813', '532', '811', '487', '523', '624', '238', '451', '115',
       '213', '488', '517', '313', '314', '485', '336', '484', '221',
       '493', '562', '483', '321'], dtype=object)

### NAICS 4

In [70]:
files_list3 = ['RTRA_Employ_4NAICS_97_99.csv','RTRA_Employ_4NAICS_00_05.csv','RTRA_Employ_4NAICS_06_10.csv','RTRA_Employ_4NAICS_11_15.csv','RTRA_Employ_4NAICS_16_20.csv']
naics4_df = pd.concat(map(pd.read_csv,files_list3), ignore_index=True)
naics4_df.NAICS.unique()

array([1100, 1111, 1112, 1113, 1114, 1119, 1121, 1122, 1123, 1124, 1125,
       1129, 1132, 1133, 1141, 1142, 1151, 1152, 1153, 2100, 2111, 2121,
       2122, 2123, 2131, 2211, 2212, 2213, 2361, 2362, 2371, 2372, 2373,
       2379, 2381, 2382, 2383, 2389, 3111, 3112, 3113, 3114, 3115, 3116,
       3117, 3118, 3119, 3121, 3122, 3131, 3132, 3133, 3141, 3149, 3151,
       3152, 3159, 3161, 3162, 3169, 3211, 3212, 3219, 3221, 3222, 3231,
       3241, 3251, 3252, 3253, 3254, 3255, 3256, 3259, 3261, 3262, 3271,
       3272, 3273, 3274, 3279, 3311, 3312, 3313, 3314, 3315, 3321, 3322,
       3323, 3324, 3325, 3326, 3327, 3328, 3329, 3331, 3332, 3333, 3334,
       3335, 3336, 3339, 3341, 3342, 3343, 3344, 3345, 3346, 3351, 3352,
       3353, 3359, 3361, 3362, 3363, 3364, 3365, 3366, 3369, 3371, 3372,
       3379, 3391, 3399, 4111, 4121, 4131, 4132, 4133, 4141, 4142, 4143,
       4144, 4145, 4151, 4152, 4153, 4161, 4162, 4163, 4171, 4172, 4173,
       4179, 4181, 4182, 4183, 4184, 4189, 4191, 4411, 4412, 4413, 4421,
       4422, 4431, 4441, 4442, 4451, 4452, 4453, 4461, 4471, 4481, 4482,
       4483, 4511, 4513, 4521, 4529, 4531, 4532, 4533, 4539, 4541, 4542,
       4543, 4811, 4812, 4821, 4831, 4832, 4841, 4842, 4851, 4852, 4853,
       4854, 4855, 4859, 4861, 4862, 4869, 4871, 4872, 4881, 4882, 4883,
       4884, 4885, 4889, 4911, 4921, 4922, 4931, 5111, 5112, 5121, 5122,
       5151, 5171, 5172, 5179, 5182, 5191, 5211, 5221, 5222, 5223, 5231,
       5232, 5239, 5241, 5242, 5261, 5269, 5311, 5312, 5313, 5321, 5322,
       5323, 5324, 5331, 5411, 5412, 5413, 5414, 5415, 5416, 5417, 5418,
       5419, 5511, 5611, 5613, 5614, 5615, 5616, 5617, 5619, 5621, 5622,
       5629, 6111, 6112, 6113, 6114, 6115, 6116, 6117, 6211, 6212, 6213,
       6214, 6215, 6216, 6219, 6220, 6230, 6241, 6242, 6243, 6244, 7111,
       7112, 7113, 7114, 7115, 7121, 7131, 7132, 7139, 7211, 7212, 7213,
       7223, 7224, 7225, 8111, 8112, 8113, 8114, 8121, 8122, 8123, 8129,
       8131, 8132, 8133, 8134, 8139, 8141, 9110, 9111, 9120, 9130, 9141,
       9191, 1131, 4879, 5152, 5174, 5612])

In [118]:
data = pd.read_excel('LMO_Detailed_Industries_by_NAICS.xlsx')
data.NAICS.unique()

array(['111 & 112', 114, 113, 115, 211, 213, 212, 22, 23, '311 & 312',
       321, 322, 331, 332, 333, 3366,
       '3361,  3362,  3363, 3364, 3365, 3369',
       '313, 314, 315, 316, 323, 324, 325, 326, 327, 334, 335, 337 & 339',
       '41', 441, 446, '442,443,444,445,446,447,448,451,452,453 & 454',
       481, 482, 483, 484, 488, '491 & 492', '485,486 & 487', 493, 524,
       '521, 522, 523 & 526', 53, 5413, 5415, 5416,
       '5411, 5412, 5414, 5417, 5418 & 5419', '55 & 56', 6111, 6112, 6113,
       '6114, 6115, 6116 & 6117', 621, 622, 623, 624, 511, 512, 517,
       '515, 518 & 519', 711, 713, 712, 721, 722, 81, 911, 912,
       '913, 914 & 919'], dtype=object)

In [7]:
data = pd.read_excel('Data_Output_Template.xlsx')
data

,SYEAR,SMTH,LMO_Detailed_Industry,Employment
0,1997,1,Accommodation services,NaN
1,1997,1,Air transportation,NaN
2,1997,1,Ambulatory health care services,NaN
3,1997,1,"Amusement, gambling and recreation industries",NaN
4,1997,1,"Architectural, engineering and related services",NaN
...,...,...,...,...
15571,2018,12,Utilities,NaN
15572,2018,12,Warehousing and storage,NaN
15573,2018,12,Water transportation,NaN
15574,2018,12,Wholesale trade,NaN
15575,2018,12,Wood product manufacturing,NaN